{% extends 'base.html' %} {% block titulo %}Entregables{% endblock titulo %}

{% block content %}

<div class="card" shadow>
     <div class="card-header">
          <h2>Listado de Entregables</h2>
     </div>

     <div class="card-body">
          <div class="row text-center">
               <table class="table-primary">
                    {% for trab in trabajos %}
                    <div class="col-4">
                         <div class="card shadow">
                              <div class="card-body">
                                   <h5 class="card-title">ID: {{ trab.id }}</h5>
                                   <h4 class="card-title">Nombre: {{ trab.nombre }}</h4>
                                   <p class="card-text">Fecha Vencto: {{ trab.fechaVence }}</p>
                              </div>
                         </div>
                    </div>
                    {% endfor %}
               </table>
          </div>
     </div>

     <div class="card-footer text-muted">
          <a class="btn btn-success" href="#">Agregar Entregable</a>
          <a class="btn btn-primary" href="{% url 'inicio' %}">Volver</a>
     </div>
</div>

{% endblock content %}